# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ------------------------------------ #
# ✨ 여기에 아래 내용을 추가해주세요 ✨ #
# ------------------------------------ #

# 게임 애셋 이미지 폴더 무시
/assets/images/battle/
/assets/images/item/
/assets/images/skills/
/assets/images/status-effects/
/assets/images/summon/
/assets/images/territory/
/assets/images/unit/

# 단, 플레이스홀더 이미지는 예외적으로 포함
!/assets/images/placeholder.png
